.dc_blogcard {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  margin: 20px 0;
  max-width: 320px!important;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
  }

  .blogcard_thumbnail {
    width: 320px!important;
    /* 固定幅を指定 */
    height: 200px;
    /* 固定高さを指定 */
    background-size: cover;
    background-position: center;
  }

  .blogcard_content {
    padding: 15px;
    flex: 1;
    .blogcard_title{
      font-size: 1.0rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .blogcard_excerpt{
      font-size: 0.8rem;
      color: #555;
    }
    .blogcard_link{
      font-size: 0.8rem;
      color: #555;
    }
  }

  p {
    margin: 0;
  }
}
  .dc_linkcard {
    margin: 20px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 320px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
  }
  .linkcard_label{
    position: absolute;
    top: -12px;
    left: 12px;
    background-color: #555;
    color: white;
    font-weight: bold;
    font-size: 0.6rem;
    border-radius: 100px;
    padding: 3px 5px;
  }

  .linkcard_thumbnail {
    width: 120px;
    /* 固定幅を指定 */
    height: 80px;
    /* 固定高さを指定 */
    background-size: cover;
    background-position: center;
  }

  .linkcard_title {
    font-size: 0.9rem;
    width: 160px;
    line-height: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  p {
    margin: 0;
  }
}