.sm_category_wrapper {
  margin: 0rem;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 20px;

  .sm_category_header {
    text-align: center;
    width: 100%;
    color: #111;
    margin: 0 0 1rem 0 !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    h2{
      font-size: 1rem;
      display: inline-block;
      margin:0!important;
    }
    .caret-circle-down {
      position: relative;
      width: 24px;
      height: 24px;
    }
  }

  .sm_categories {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /* デフォルトは4列 */
    gap: 10px;
    /* グリッドアイテム間の隙間 */
    padding: 0;
    transition-property: opacity;
    /* 透明度の変化を適用 */
    transition-duration: 0.3s;
    /* 300ミリ秒の持続時間 */
    transition-timing-function: ease;
    /* タイミング関数を指定 */
  }

  /* 画面幅が768px未満の場合に2列にする */
  @media (max-width: 768px) {
    .sm_categories {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* 画面幅が480px未満の場合に1列にする */
  @media (max-width: 480px) {
    .sm_categories {
      grid-template-columns: 1fr;
    }
  }


  .sm_category {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
    position: relative;
    border-radius: 10px;
    border: 2px solid;
    border-color: #555;
    background-color: #fff;
    width: 100%;
    /* グリッドセルに合わせて調整 */
    min-width: 150px;
    /* 最小幅を設定 */

    .caret-circle-right {
      position: relative;
      width: 24px;
      height: 24px;
    }

    .text-wrapper {
      position: relative;
      width: fit-content;
      font-family: "Noto Sans JP-Black", Helvetica;
      font-weight: 900;
      color: #555;
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 3.36px;
      line-height: 24px;
      white-space: nowrap;
    }
  }
}