.sm_category_wrapper {
  margin: 1rem;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 20px;

  .sm_category_header {
    text-align: center;
    width: 100%;
    color: #111;
    margin: 0 !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    p{
      font-size: 1rem;
      display: inline-block;
      margin:0!important;
      border-left-width: 0;
    }
    .caret-circle-down {
      position: relative;
      width: 24px;
      height: 24px;
    }
  }

  .sm_categories {
    overflow:auto;
    text-overflow: ellipsis;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;
    /* デフォルトは4列 */
    gap: 10px;
    /* グリッドアイテム間の隙間 */
    padding: 0;
    transition-property: opacity;
    /* 透明度の変化を適用 */
    transition-duration: 0.3s;
    /* 300ミリ秒の持続時間 */
    transition-timing-function: ease;
    /* タイミング関数を指定 */
  }

    .sm_category {
      width: 30%;
      display: inline-block;
      all: unset;
      box-sizing: content-box;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      position: relative;
      border-radius: 10px;
      border: 2px solid;
      font-size: 14px;
      border-color: #555;
      background-color: #fff;
      cursor: pointer;
      /* グリッドセルに合わせて調整 */
      min-width: 100px;
      /* 最小幅を設定 */

      .caret-circle-right {
        position: relative;
        width: 24px;
        height: 24px;
      }

      .text-wrapper {
        position: relative;
        width: fit-content;
        font-family: "Noto Sans JP-Black", Helvetica;
        font-weight: 900;
        color: #555;
        font-size: 1.2rem;
        text-align: center;
        letter-spacing: 3.36px;
        line-height: 24px;
        white-space: nowrap;
      }
    }
}