.yugothic{
  font-family: "游ゴシック体",
  YuGothic,
  "游ゴシック",
  "Yu Gothic",
  sans-serif;
}
.text-xxs {
  font-size: 0.65rem
    /* 12px */
  ;
  line-height: 0.8rem
    /* 16px */
  ;
}
.text-xs {
  font-size: 10px;
  line-height: .75rem
}
.text-sm {
  font-size: 0.9em;
  line-height: .95rem;
}
.text-md {
  font-size: 1.0em;
  line-height: 1.2rem;
}
.text-ml {
  font-size: 1.0rem
    /* 18px */
  ;
  line-height: 1.5rem
    /* 28px */
  ;
}