.grid{
  display: grid;
}

$grid-cols: ('1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 6,
  '7': 7,
  '8': 8,
  '9': 9,
  '10': 10,
  '11': 11,
  '12': 12,
  'none': none);

$grid-rows: ('1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 6,
  'none': none);

$gaps: ('0': 0,
  '1': 0.25rem, // 4px
  '2': 0.5rem, // 8px
  '3': 0.75rem, // 12px
  '4': 1rem, // 16px
  '5': 1.25rem, // 20px
  '6': 1.5rem, // 24px
  '8': 2rem, // 32px
  '10': 2.5rem, // 40px
  '12': 3rem, // 48px
  '16': 4rem, // 64px
  '20': 5rem, // 80px
  '24': 6rem, // 96px
  '32': 8rem, // 128px
  '40': 10rem, // 160px
  '48': 12rem, // 192px
  '56': 14rem, // 224px
  '64': 16rem // 256px
);

@each $name,
$count in $grid-cols {
  .grid-cols-#{$name} {
    grid-template-columns: repeat(#{$count}, minmax(0, 1fr));
  }
}

@each $name,
$count in $grid-rows {
  .grid-rows-#{$name} {
    grid-template-rows: repeat(#{$count}, minmax(0, 1fr));
  }
}

@each $name,
$gap in $gaps {
  .gap-#{$name} {
    gap: $gap;
  }

  .gap-x-#{$name} {
    column-gap: $gap;
  }

  .gap-y-#{$name} {
    row-gap: $gap;
  }
}

// グリッド列スパンのクラスを生成
@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

// グリッド行スパンのクラスを生成
@for $i from 1 through 6 {
  .row-span-#{$i} {
    grid-row: span #{$i} / span #{$i};
  }
}