/* ------------------------------------
診断
------------------------------------ */
.diagnose {
  text-align: center;
  max-width: 650px;
  margin: auto;
  border-radius: 10px;
  .diagnose_tit {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    border-radius: 10px 10px 0 0;
    padding: 3%;

    @media screen and (max-width: 640px) {
      font-size: 18px;
    }

    .label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
      border-radius: 10px 0 10px 0;
      background-color: rgb(252 144 150);
      padding: 1%;

      @media screen and (max-width: 1000px) {
        font-size: 1.4vw;
      }
    }
  }

  #modal,
  #cta_modal {
    background-color: rgb(233 244 252);
    padding: 4% clamp(10px, 5%, 60px);
    margin: auto;
    border-radius: 0 0 10px 10px;

    .content {
      display: block;
    }

    .diag-question-balloon {
      position: relative;
      display: inline-block;
      padding: 15px 18px;
      font-size: 16px;
      color: white;
      font-weight: 700;
      background-color: #0097d8;
      border-radius: 100%;
      margin: auto;

      &::before {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        margin-left: -10px;
        border: 10px solid transparent;
        border-top: 10px solid #0097d8;
      }

      &::after {
        content: "";
        color: rgb(255, 255, 255);
        position: absolute;
        top: 24%;
        left: 20%;
        font-weight: bold;
      }

      p {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        font-weight: 700;
        color: #fff;
        line-height: 1.85;
      }
    }

    #question {
      font-size: 20px;
      line-height: 1.8;
      border-bottom: 2px dashed rgb(0 151 216);
      padding: clamp(0px, 4%, 10px) 0;

      @media screen and (max-width: 640px) {
        font-size: 16px;
      }
    }

    #options {
      button {
        display: block;
        font-weight: bold;
        font-size: 16px;
        color: rgb(80 80 80);
        background-color: rgb(255, 255, 255);
        border-style: unset;
        border-radius: 24px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
        width: 100%;
        padding: 3%;
        margin: 4% auto;

        @media screen and (max-width: 640px) {
          padding: 4%;
          margin: 7% auto;
        }
      }
    }
  }

  #cta_modal {
    padding: 0;
    background-color: rgb(255, 255, 255);

    .result_message {
      margin-bottom: 4%;
      font-weight: bold;
    }

    .content_img {
      margin-bottom: 0;

      img {
        max-width: 100%;
        width: 100%;
      }
    }

    .cta_text_before {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0;

      @media screen and (max-width: 640px) {
        font-size: 15px;
      }
    }

    .cta_link {
      text-align: right;
      padding: 2%;

      a {
        color: rgb(2, 142, 209);
      }
    }
  }
  .fade-in {
    animation: fadeInAnimation 0.8s ease-in-out forwards;
  }

  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}