@charset "UTF-8";

@import "./cta";
@import "./category";

.inline-block{
  display:inline-block;
}

.text-xs{
  font-size: 10px;
  line-height: .75rem
}
.text-left{
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-gray{
  color: #555;
}
 .entry-content>p:first-child{
  display: none;
 }
 .post-thumbnail{
  display: none;
 }