@charset "UTF-8";
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrap-keep {
  word-break: keep-all;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.entry-title, .single-title {
  font-size: 1.2em;
  font-weight: bold;
}

.yugothic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.text-xxs {
  font-size: 0.65rem;
  line-height: 0.8rem;
}

.text-xs {
  font-size: 0.6em;
  line-height: 0.75rem;
}

.text-sm {
  font-size: 0.9em;
  line-height: 0.95rem;
}

.text-md {
  font-size: 1em;
  line-height: 1.2rem;
}

.text-ml {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* 太字 */
.font-bold {
  font-weight: bold;
}

/* 赤文字 */
.color-red {
  color: red;
}

/* マーカー（黄色背景） */
.marker-yellow {
  background-image: linear-gradient(90deg, #fcf69f, yellow);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 60%;
}

/* 大きいテキスト */
.text-lg {
  font-size: 1.25em;
  /* 大きいサイズに調整する例 */
}

.mx-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.sm-clinics-table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}
.sm-clinics-table p {
  margin: 0 !important;
}
.sm-clinics-table table {
  border-collapse: collapse;
  width: 100%;
}
.sm-clinics-table th,
.sm-clinics-table td {
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
  padding: 10px;
}
.sm-clinics-table th:first-child,
.sm-clinics-table td:first-child {
  background: white;
  white-space: nowrap;
  position: sticky;
  left: 0;
  z-index: 2;
}
.sm-clinics-table img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.sm-clinics-table .sm-cta-btn {
  white-space: nowrap;
}

.sm-catchcopy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 !important;
  font-size: 0.75em;
}
.sm-catchcopy::before, .sm-catchcopy::after {
  content: "";
  width: 3px;
  height: 20px;
  background-color: #333;
}
.sm-catchcopy::before {
  margin-right: 20px;
  transform: rotate(-35deg);
}
.sm-catchcopy::after {
  margin-left: 20px;
  transform: rotate(35deg);
}

.sm-cta-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: radial-gradient(circle, rgb(255, 65, 150) 0%, rgb(255, 0, 76) 100%);
  box-shadow: 0px 4px 8px rgba(246, 76, 172, 0.3098039216);
  text-shadow: -1px -1px 1px rgba(150, 0, 62, 0.6117647059);
  border-bottom: 5px solid rgba(150, 0, 62, 0.2392156863);
  transition: margin-top 0.2s;
}
.sm-cta-btn:hover {
  margin-top: 3px;
}
.sm-cta-btn:after {
  content: url("../images/icon/external.svg");
  display: inline-block;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  padding-bottom: 4px;
  color: white;
}

.sm-area-cta-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: radial-gradient(circle, rgb(255, 65, 150) 0%, rgb(255, 0, 76) 100%);
  box-shadow: 0px 4px 8px rgba(246, 76, 172, 0.3098039216);
  text-shadow: -1px -1px 1px rgba(150, 0, 62, 0.6117647059);
  border-bottom: 5px solid rgba(150, 0, 62, 0.2392156863);
  transition: margin-top 0.2s;
}
.sm-area-cta-btn:hover {
  margin-top: 3px;
}

.sm_category_wrapper {
  margin: 1rem;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 20px;
}
.sm_category_wrapper .sm_category_header {
  text-align: center;
  width: 100%;
  color: #111;
  margin: 0 !important;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.sm_category_wrapper .sm_category_header p {
  font-size: 1rem;
  display: inline-block;
  margin: 0 !important;
  border-left-width: 0;
}
.sm_category_wrapper .sm_category_header .caret-circle-down {
  position: relative;
  width: 24px;
  height: 24px;
}
.sm_category_wrapper .sm_categories {
  overflow: auto;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 100%;
  /* デフォルトは4列 */
  gap: 10px;
  /* グリッドアイテム間の隙間 */
  padding: 0;
  transition-property: opacity;
  /* 透明度の変化を適用 */
  transition-duration: 0.3s;
  /* 300ミリ秒の持続時間 */
  transition-timing-function: ease;
  /* タイミング関数を指定 */
}
.sm_category_wrapper .sm_category {
  width: 30%;
  display: inline-block;
  all: unset;
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  position: relative;
  border-radius: 10px;
  border: 2px solid;
  font-size: 14px;
  border-color: #555;
  background-color: #fff;
  cursor: pointer;
  /* グリッドセルに合わせて調整 */
  min-width: 100px;
  /* 最小幅を設定 */
}
.sm_category_wrapper .sm_category .caret-circle-right {
  position: relative;
  width: 24px;
  height: 24px;
}
.sm_category_wrapper .sm_category .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Noto Sans JP-Black", Helvetica;
  font-weight: 900;
  color: #555;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 3.36px;
  line-height: 24px;
  white-space: nowrap;
}

/* ------------------------------------
診断
------------------------------------ */
.diagnose {
  text-align: center;
  margin: auto;
  border-radius: 10px;
  /* CSSでフェードイン・フェードアウトのキーフレームを定義 */
}
.diagnose .diagnose_tit {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  border-radius: 10px 10px 0 0;
  padding: 24px 10px 10px 10px;
}
@media screen and (max-width: 640px) {
  .diagnose .diagnose_tit {
    font-size: 18px;
  }
}
.diagnose .diagnose_tit .label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  border-radius: 10px 0 10px 0;
  background-color: rgb(252, 144, 150);
  padding: 1%;
}
@media screen and (max-width: 1000px) {
  .diagnose .diagnose_tit .label {
    font-size: 11px;
  }
}
.diagnose #modal,
.diagnose #cta_modal {
  background-color: rgb(233, 244, 252);
  padding: 4% clamp(10px, 5%, 60px);
  margin: auto;
  border-radius: 0 0 10px 10px;
}
.diagnose #modal .content,
.diagnose #cta_modal .content {
  display: block;
}
.diagnose #modal .diag-question-balloon,
.diagnose #cta_modal .diag-question-balloon {
  position: relative;
  display: inline-block;
  padding: 15px 18px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  background-color: #0097d8;
  border-radius: 100%;
  margin: auto;
}
.diagnose #modal .diag-question-balloon::before,
.diagnose #cta_modal .diag-question-balloon::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #0097d8;
}
.diagnose #modal .diag-question-balloon::after,
.diagnose #cta_modal .diag-question-balloon::after {
  content: "";
  color: rgb(255, 255, 255);
  position: absolute;
  top: 24%;
  left: 20%;
  font-weight: bold;
}
.diagnose #modal .diag-question-balloon p,
.diagnose #cta_modal .diag-question-balloon p {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: 700;
  color: #fff;
  line-height: 1.85;
}
.diagnose #modal .question-text,
.diagnose #cta_modal .question-text {
  font-size: 20px;
  line-height: 1.8;
  border-bottom: 2px dashed rgb(0, 151, 216);
}
@media screen and (max-width: 640px) {
  .diagnose #modal .question-text,
  .diagnose #cta_modal .question-text {
    font-size: 16px;
  }
}
.diagnose #modal .options,
.diagnose #cta_modal .options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.diagnose #modal .options button,
.diagnose #cta_modal .options button {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: rgb(80, 80, 80);
  border-style: unset;
  border-radius: 24px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 3%;
}
.diagnose #cta_modal {
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.diagnose #cta_modal .result_message {
  margin-bottom: 4%;
  font-weight: bold;
}
.diagnose #cta_modal .content_img {
  margin-bottom: 0;
}
.diagnose #cta_modal .content_img img {
  max-width: 100%;
  width: 100%;
}
.diagnose #cta_modal .cta_text_before {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  .diagnose #cta_modal .cta_text_before {
    font-size: 15px;
  }
}
.diagnose #cta_modal .cta_link {
  text-align: right;
  padding: 2%;
}
.diagnose #cta_modal .cta_link a {
  color: rgb(2, 142, 209);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.diagnose .question {
  animation: fadeIn 1s forwards;
  /* 質問が表示されるときのアニメーション */
}

.poyo {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-name: poyo;
}

@keyframes poyo {
  0%, 40%, 60%, 80% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(0.95);
  }
}
.yellow-marker {
  background: linear-gradient(transparent 60%, #FFFF99 50%);
}

.dc_blogcard {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  margin: 20px 0;
  max-width: 320px !important;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.dc_blogcard a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}
.dc_blogcard .blogcard_thumbnail {
  width: 320px !important;
  /* 固定幅を指定 */
  height: 200px;
  /* 固定高さを指定 */
  background-size: cover;
  background-position: center;
}
.dc_blogcard .blogcard_content {
  padding: 15px;
  flex: 1;
}
.dc_blogcard .blogcard_content .blogcard_title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.dc_blogcard .blogcard_content .blogcard_excerpt {
  font-size: 0.8rem;
  color: #555;
}
.dc_blogcard .blogcard_content .blogcard_link {
  font-size: 0.8rem;
  color: #555;
}
.dc_blogcard p {
  margin: 0;
}

.dc_linkcard {
  margin: 20px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 320px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.dc_linkcard a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.dc_linkcard .linkcard_label {
  position: absolute;
  top: -12px;
  left: 12px;
  background-color: #555;
  color: white;
  font-weight: bold;
  font-size: 0.6rem;
  border-radius: 100px;
  padding: 3px 5px;
}
.dc_linkcard .linkcard_thumbnail {
  width: 120px;
  /* 固定幅を指定 */
  height: 80px;
  /* 固定高さを指定 */
  background-size: cover;
  background-position: center;
}
.dc_linkcard .linkcard_title {
  font-size: 0.9rem;
  width: 160px;
  line-height: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.dc_linkcard p {
  margin: 0;
}

.heading_stripe {
  position: relative;
}
.heading_stripe:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}

.heading_slash {
  position: relative;
  display: inline-block;
  padding: 0 45px;
}
.heading_slash:before, .heading_slash:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 2px;
  background-color: black;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.heading_slash:before {
  left: 0;
}
.heading_slash:after {
  right: 0;
}

.heading_underline {
  position: relative;
  display: block;
  margin-bottom: 2em !important;
  text-align: center;
}
.heading_underline:before {
  content: "";
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}

.toc {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.toc h2 {
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toc .caret-circle-down {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.toc.closed .caret-circle-down {
  transform: rotate(180deg);
}
.toc ul {
  list-style-type: none;
  border: 0;
  padding-left: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  overflow: hidden;
  margin-bottom: 0;
}
.toc ul li {
  padding: 0;
}
.toc ul li {
  margin-bottom: 5px;
}
.toc ul li.toc-2 {
  margin-left: 10px;
}
.toc ul li.toc-3 {
  margin-left: 20px;
}
.toc.closed ul {
  max-height: 0;
  opacity: 0;
}

.text-gray {
  color: #555;
}

.text-red {
  color: red;
}

.entry-content > p:first-child {
  display: none;
}

.entry-content ul {
  padding: 0;
}
.entry-content li {
  padding: 0.5em 0 0.5em 34px;
}

.shadow_c {
  box-shadow: 0px 15px 33px 0px rgba(0, 0, 0, 0.01), 0px 59px 59px 0px rgba(0, 0, 0, 0.09), 0px 133px 80px 0px rgba(0, 0, 0, 0.05), 0px 237px 95px 0px rgba(0, 0, 0, 0.01), 0px 370px 104px 0px rgba(0, 0, 0, 0);
}

figure img {
  margin: auto;
}

.bg-kyosei-gradient {
  background-image: linear-gradient(90deg, #469EDA, #46BCC6);
  background-repeat: no-repeat;
}

.bg-kyosei-light-gradient {
  background-image: linear-gradient(90deg, #CAEBFF, #fff, #CAEBFF);
  background-repeat: no-repeat;
}

.pr_content {
  font-size: 11px;
  padding: 10px;
  margin: 10px 0;
  background-color: #efefef;
}

figure img {
  margin: auto;
}

.bg-kyosei-gradient {
  background-image: linear-gradient(90deg, #469EDA, #46BCC6);
  background-repeat: no-repeat;
}

.bg-kyosei-light-gradient {
  background-image: linear-gradient(90deg, #CAEBFF, #fff, #CAEBFF);
  background-repeat: no-repeat;
}

.pr_content {
  font-size: 11px;
  padding: 10px;
  margin: 10px;
  background-color: #efefef;
}

.breadcrumb {
  overflow-x: scroll;
  ul{
    text-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */