// 共通のボーダー半径の値を定義
$border-radius-values: (none: 0,
  sm: 0.125rem,
  DEFAULT: 0.25rem,
  md: 0.375rem,
  lg: 0.5rem,
  xl: 0.75rem,
  '2xl': 1rem,
  '3xl': 1.5rem,
  full: 9999px
);

// roundedクラスを生成
@each $key,
$value in $border-radius-values {
  .rounded-#{$key} {
    border-radius: $value;
  }
}
.rounded-full {
  border-radius: 9999px;
}
