@charset "UTF-8";
/* CSS Document */

/* 各ページ個別のcssはこっちに記述してください */

/* DOCTOR---------------------------------------------- */
#sub main.doctor{}

#sub main.doctor .doctor_box p{text-align: center;letter-spacing: 0.05em;}
#sub main.doctor .doctor_box div.aisatsu p{text-align: left;}

#sub main.doctor .doctor_box .post,
#sub main.doctor .doctor_box .name{margin-bottom: 10px;}

#sub main.doctor .doctor_box .name{
	font-size: 1.57em;
	font-weight: bold;
	line-height: 1;}
#sub main.doctor .doctor_box .name_eng{
	color: #f08c00;
	margin-bottom: 30px;}

#sub main.doctor .career{
	display: flex;
	justify-content: center;}

#sub main.doctor .career .box{
	margin: 0 20px;
	min-width: 195px;}
#sub main.doctor .career .box h3{
	background: none;
	padding: 0 0 10px;
	border-bottom: 1px solid;
	margin-bottom: 20px;}

#sub main.doctor .career .box li{
	font-size: 0.92em;
	letter-spacing: 0.02em;
	margin-bottom: 10px;}
.flex_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;}
.flex_box .item{
	flex-basis: 55%;}
.flex_box .item_img{
	flex-basis: 40%;}
.flex_box .half{
	flex-basis: 48%;}
.flow_box p span {
    font-size: 1.2em;
    font-weight: 600;}
.flow_box p span:before{
	content: "●";
	color: #f08c00;
	padding-right: 0.2em;}

.container_btn {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;}


/* ここから下がボタンのCSS　*/
.btn-border {
	display: inline-block;
	max-width: 200px;
	text-align: left;
	border: 2px solid #f08c00;
	font-size: 16px;
	color: #f08c00;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 16px;
	border-radius: 4px;
	transition: .4s;
	margin: 10px 0 0;
}

.btn-border:hover {
  background-color: #f08c00;
  border-color: #f08c0073;
  color: #FFF;}

strong{
	font-size: 1.2em;
	color:  #f08c00;
	padding: 0 .2em;}

.narrow_box {
    width: 600px;
    margin: 0 auto;}
table.normal.price td {
    text-align: right;}
table.normal.price td span {
    font-size: 1.4em;
    font-weight: 500;
    padding: 0 .2em;}
/* treatment--------------------*/
#sub .treatment{
	background: #faf7f5;}

#sub .treatment .treatment_box{
	width: 700px;
	margin: auto;
	display: flex;
	justify-content: center;}

#sub .treatment .treatment_box .box{
	background: #fff;
	text-align: center;
	border-radius: 4px;
	margin: 10px;
	overflow: hidden;}

#sub .treatment .treatment_box .box a{display: block;}
#sub .treatment .treatment_box .box a:hover{
	filter: brightness(1.2);
	color: #f08c00;}

#sub .treatment .treatment_box h3{
	font-weight: normal;
	font-size: 1rem;
	margin-top: 0;
	letter-spacing:0;
	padding: 10px 0px;}

#sub .treatment .treatment_box.first .box{
	width: 210px;
	position: relative;}
#sub .treatment .treatment_box.first h3{padding: 30px 10px 15px;}
#sub .treatment .treatment_box.first .ico{
	width: 70px;
	height: 70px;
	background: #fff;
	padding: 10px 0;
	border-radius: 100px;
	position: absolute;
	top: 75px;
	left: calc(50% - 35px);}

#sub .treatment .treatment_box.last{flex-wrap: wrap;}
#sub .treatment .treatment_box.last .box{width: 150px;}
#sub .treatment .treatment_box.last .box a{padding: 30px 10px 15px;}
#sub .treatment .treatment_box.last .ico{margin-bottom: 10px;text-align: center;}
.flex_box .half:nth-of-type(1){
	position: relative;
}
.flex_box.video .half:nth-of-type(1):before{
	content: none;
}
.flex_box.video .half:nth-of-type(2):before{
	content: none;
}
.flex_box.video .half iframe{
		height: 260px;}
.flex_box .half:nth-of-type(2){
	position: relative;
}
.flex_box .half:nth-of-type(1):before{
	position: absolute;
	content: "before";
	background-color: #f08c00;
	color: #fff;
	padding: 5px 10px;
	font-size: 15px;
	top: -10px;
	left: -10px;
}
.flex_box .half:nth-of-type(2):before{
	position: absolute;
	content: "after";
	background-color: #f08c00;
	color: #fff;
	padding: 5px 10px;
	font-size: 15px;
	top: -10px;
	left: -10px;
}
.flex_box.decay .half:nth-of-type(1):before{
	position: absolute;
	content: "保険治療";
	background-color: #f08c00;
	color: #fff;
	padding: 5px 10px;
	font-size: 15px;
	top: -10px;
	left: -10px;
}
.flex_box.decay .half:nth-of-type(2):before{
	position: absolute;
	content: "自費治療";
	background-color: #f08c00;
	color: #fff;
	padding: 5px 10px;
	font-size: 15px;
	top: -10px;
	left: -10px;
}

/* contact--------------------*/

#sub main .contact table{ margin-top: 60px; }
#sub main .contact table td input[type="text"],
#sub main .contact table td input[type="email"],
#sub main .contact table td select,
#sub main .contact table td textarea{ width: 100%; height: 100%; border: none; border: solid 1px #ccc; }
#sub main .contact table td select{ border: none; }
#sub main .contact table td input[type="text"],
#sub main .contact table td input[type="email"],
#sub main .contact table td select{ height: 30px; }
#sub main .contact input[type="submit"]{
	-webkit-appearance: none;
	background-color: transparent;
	background-image: none;
	border: solid 2px #f08c00;
	border-radius: 0;
	color: #f08c00;
	cursor: pointer;
	display: flex;
	font-size: 1em;
	margin: 0 auto;
	text-decoration: none;
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}
#sub main .contact input[type="submit"]:hover{ background: #f08c00; color: #fff; }

/* お知らせ--------------------*/

#nav-below{ margin-top: 50px; }
#nav-below a{ color: #f08c00; text-decoration: underline; }
.category-archive{ margin-top: 60px; }
.category-archive .article { background: #fff; padding: 30px 30px 15px; }
.category-archive .article li{ margin-bottom: 15px; letter-spacing: 0.1em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.category-archive .article li p{
	display: inline-block;
    width: 110px;
    background: #e9e9e9;
    font-size: 0.857em;
    text-align: center !important;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
}
.category-archive .article li p.event { background: #fdf3e5; color: #f08c00; }
.category-archive .article li span{ margin-right: 1em; }

@media screen and (max-width:599px){
	#sub main.doctor .career{display: block;}
	.flex_box .item,.flex_box .item_img{flex-basis: 100%;}
	.flex_box .item p strong{
	margin-top: 0.667em;
	display: inline-block;}
	.flex_box .item_img{order: 0;}
	.flex_box .item{order: 1;}
	.flow_box p span {
		margin-top: 0.667em;
		display: block;}
	.flex_box.video .half,
	.flex_box.decay .half{
		flex-basis: 100%;
		margin-bottom: 15px;}
	.flex_box.video .half iframe{
		height: auto;}
	.container_btn{
		padding-top: 15px;}
	.narrow_box {
		width: 100%;}
	.narrow_box table.normal.price td {
    	text-align: center;}
	#sub .treatment{padding: 0px 0 0;}
	#sub .treatment h2{margin: 0 auto 15px;}
	#sub .treatment h3{margin: 10px 0;}
	#sub .treatment .treatment_box{width: 100%;}
	#sub .treatment .treatment_box.first{display: block;}
	#sub .treatment .treatment_box.first .box{margin:0 auto 20px;}
	#sub .treatment .treatment_box.last .box {width: 40%;}

	.category-archive .article li{ margin-bottom: 23px; }
	.category-archive .article li p{ display: block; margin-bottom: 5px; }
	.category-archive .article li a{ font-size: 13px; letter-spacing:  }
	.category-archive .article{ padding: 25px 25px 25px; }
}


/* SAMPLE---------------------------------------------- */
#sub main.sample{}
@media screen and (max-width:599px){
	
		#sub main.doctor .career .box {
    margin: 0;
	}
}



/*料金表*/
.flex_case{display: flex;flex-wrap: wrap;justify-content: space-between;margin-bottom: 100px;}
.flex_case .item30{flex-basis: 30%; margin: 40px 0 0;}
.flex_case .door{position: relative;}
.flex_case .door img{width: 100%; box-shadow: 10px 10px 15px -10px;margin-bottom: 0px;}
.flex_case .door p{position: absolute; top: 50%; left: 10px; font-weight: 600;}
.flex_case li.half.door {margin-bottom: 20px;}
.flex_case .item30.door p{color: #fff;text-shadow: #505050 1px 1px 0, #505050 -1px -1px 0, #505050 -1px 1px 0, #505050 1px -1px 0, #505050 0px 1px 0, #505050 0-1px 0, #505050 -1px 0 0, #505050 1px 0 0;
}
.flex_case .half.door p {font-size: 25px;top: 73%;text-shadow: #FFFFFF 1px 1px 0, #FFFFFF -1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF 0px 1px 0, #FFFFFF 0-1px 0, #FFFFFF -1px 0 0, #FFFFFF 1px 0 0;}
.linkwrap {width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;z-index: 10;}

.flex{display: flex; justify-content: space-around; margin-bottom: 50px;}
.flex .half_in{flex-basis: 380px;}
.half_img{width: 300px;}
.flex .half_in h5{background: #f08c00;color: #fff;display: table;padding: .3em .5em;font-size: 16px;margin: 20px 0 10px;}
.sub section .flex table.normal{margin-top: 20px;}
.flex .half_.img img{width:100%;}

@media screen and (max-width:599px){
    #sub main.doctor .career .box {margin: 0;}
    #sub section .movie{ display: block; width: 100%; margin-bottom: 7px;}	
    .flex_case{margin-bottom: 10vw;}
    .flex_case .item30{flex-basis: 48%; margin: 10px 0 0;}
    .flex_case .item30.door p{font-size: 12px;}
    .flex_case li.half.door{margin-bottom: 0;}
}


/* 2021_11_01 追加 */
#sub .sub_content .price-table{
	border-collapse: collapse;
	width: 100%;
}
#sub .sub_content .price-table th{
	align-items: center;
	vertical-align: middle;
	border: solid 1px;
	padding: 10px;
	background-color: #ffe4c4;
}
#sub .sub_content .price-table td{
	border: solid 1px;
	padding: 10px;
	vertical-align: middle;
}
#sub .sub_content .price-table td.table-title{
	align-items: center;
	font-weight: bold;
}
#sub .sub_content .price-table td.gray{
	background-color: #c0c0c0;
}
#sub .sub_content .price-table span{
	font-size: 0.8em;
}
#sub .sub_content .dentalloan-table{
	border-collapse: collapse;
	width: 100%;
	 display: block;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	font-size: 1em;
	margin-bottom: 15px;
	margin-top: 20px;
}
#sub .sub_content .dentalloan-table .num{
	width: 10%;
}
#sub .sub_content .dentalloan-table th{
	text-align: center;
	vertical-align: middle;
	border: solid 1px;
	padding: 10px;
	background-color: #ffe4c4;
}
#sub .sub_content .dentalloan-table td{
	border: solid 1px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
#sub .sub_content .dentalloan-table span{
	font-size: 0.8em;
}
#sub .sub_content tr.color{
	background-color: #ffffff;
}

#sub .sub_content .dentalloan-table th,
#sub .sub_content .dentalloan-table td{
	font-size: 1em;
}
#sub main.sub_content p.sinbi_fz {
	font-size: 1em;
}
.dentalloan-box.df {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dentalloan-img {
	width: 49%;
}
#sub main.sub_content .dentalloan-img p{
	font-size: 1.3em;
	text-align: center;
}
.dentalloan-img img{
	width: 100%;
	vertical-align: middle;
}
strong {
    border-bottom: 1px solid #f08c00;
    padding: 0 0.2em;
    display: inline;
    color: #232323;
    font-size: 1em;
}
/* //2021_11_01 追加 */

/* 2021_11_10 追加 */
#sub .sub_content .discount_table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px 0 0;
}
#sub .sub_content .discount_table th{
	align-items: center;
	vertical-align: middle;
	border: solid 1px;
	padding: 10px;
	background-color: #ffe4c4;
}
#sub .sub_content .discount_table td{
	border: solid 1px;
	padding: 10px;
	vertical-align: middle;
}
#sub .sub_content .discount_table td span.td_lh {
	text-decoration: line-through;
}
#sub .sub_content .discount_table td span.cl_red {
	color: #ff0000;
}
#sub .sub_content .discount_table .discount_w-01,
#sub .sub_content .discount_table .discount_w-02{
	width: 50%
}

@media screen and (max-width: 599px) {
	#sub .sub_content .price-table{
		font-size: 2.5vw;
	}
	
	#sub .sub_content .dentalloan-table th,
	#sub .sub_content .dentalloan-table td{
		font-size: 2.5vw;
	}
	#sub .sub_content .dentalloan-table{
			font-size: 2.5vw;
	}
	#sub main.sub_content p.sinbi_fz {
		font-size: 0.8em;
	}
	#sub main.sub_content .dentalloan-img p{
		font-size: .8em;
		margin-bottom: 5px;
	}
	#sub .sub_content .discount_table .discount_w-01{
		width: 15%
	}
	#sub .sub_content .discount_table .discount_w-02{
		width: 85%
	}
	#sub .sub_content .discount_table {
			font-size: 2.5vw;
	}
    .flex_box .item p strong {
        margin-top: 0.667em;
        display: inline;
    }

}


/* //2021_11_10 追加 */